//- Dashboard file
//-
//-

extends layout/dashboard

block content
  h1.page-header Dashboard
  h2.sub-header
    span.glyphicon.glyphicon-globe Communities
  table.table.table-striped.table-bordered
    thead
      tr
        th Community Name
        th Manage
    tbody
      each community in communities
        tr
          td #{ community.name }
          td
            div.btn-group.btn-group-xs
              button(type="button").btn.btn-default
                span.glyphicon.glyphicon-pencil Edit
              button(type="button").btn.btn-default
                span.glyphicon.glyphicon-remove Delete
