// Site-wide styles

body {
  background: #f4f5f6;
}

/**
 * Footer
 *
 */

footer.footer {
  background-color: $main-color;

  hr {
    border-color: #C6B982;
  }

  margin-top: 30px;
  font-size: 14px;

  a, p, h5 {
    color: #888;
  }

  .license {
    font-style: "italic";
  }

  a:hover {
    color: #fff;
  }

  .contact {
    margin-top: 40px;
    margin-bottom: 50px;
    ul {
      padding-left: 0;
    }
  }

  .footnotes {
    margin-top: 20px;
  }

  .contribute-statement {
    @media (max-width: 1200px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .github {
      margin-top: -6px;
      margin-right: 10px;
    }
  }

}
