// Navigation related styles

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  margin-top: 0;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nav-transparent {
  background: transparent;
  text-transform: uppercase;

  li > a {
    font-family: $font-titles;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid transparent;
  }

  li > a:hover {
    color: $main-color;
    background: transparent;
  }
}


.nav > li > a:hover {
  background-color: transparent !important;
}

.navbar-white {
  background-color: #fff;

  li > a {
    text-transform: uppercase;
    color: #888 !important;
  }

  li > a:focus {
    color: #B6C497 !important;
  }
}

.brand-image {
  // text-align: center;
  height: 40px;
}

.navbar-brand {
  display: inline-block;
  margin: 0;
  padding-top: 7px !important;
}

.navbar-brand-wrapper {
  display: inline-block;
  margin: 0;
  padding: 0;
}
