//== Typography

$font-titles: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-content: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

//== Colors

$link-color: #7F9986;
$link-hover-color: #718877;

$main-color: #DECF92;

$navbar-inverse-link-color: #E8E8E8;
